.btn-menubar {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 11rem;
  height: 100%;

  background-color: var(--primary-color);
  color: rgb(34, 34, 34);
  border: none;
  border-radius: 5px;

  font-size: 1.1rem;
  font-weight: bold;
  font-family: inherit;
}