.information__container {
  width: 30%;
  height: fit-content;

  font-size: 17px;
}

.information__container h2 {
  padding: 10px;
  margin-bottom: 10px;

  background-color: rgb(242, 242, 242);

  text-transform: uppercase;
  font-size: 17px;
}

.information__container a {
  text-decoration: none;
  color: #000;
}

.information__container ul {
  list-style: none;
}

.information__list li {
  display: flex;
  flex-direction: column;

  border-top: #cecece solid 1px;
}

.group-title {
  padding-top: 10px;
  padding-bottom: 10px;

}

.title-list li {
  padding: 10px 0px 10px 15px;
}

.title-list li a {
  width: 100%;
}



/* handle hide menu */
.title-list {
  position: absolute;
  max-height: 0;
  overflow: hidden;

  visibility: hidden;
  opacity: 0;
  transition: max-height 0.35s ease-in-out 0s;
}


.group-title.is-active {
  color: var(--primary-color);
}

.title-list.is-active {
  position: relative;
  max-height: 999px;

  visibility: visible;
  opacity: 1;
}