* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #0b131e;
  --font-color: #9399a2
}

html {
  background-color: var(--primary-color);

}