.btn-search {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);

  z-index: 9;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: none;
  font-size: 18px;
  
  cursor: pointer;
}