*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #ffd600
}

html{
  font-family: 'Roboto', sans-serif;
}

main{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}