@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.html {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  max-width: 100%;
  height: 40px;
  margin: 0 auto;

  display: flex;
  gap: 16px;
}

.button {
  width: 175px;
  height: 100%;
  border-radius: 5px;
  background-color: #23232b;
  color: #fff;
  border: none;

  display: flex;
  align-items: center;
}

.btn-line {
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  width: 21px;
}

.btn-menubar{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 15px;
  padding-right: 13px;
}
.btn-danhmuc span{
  font-size: 16px;
  margin-right: 17px;
}

.btn-arrowdown {
  border-top: 5px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.navbar {
  flex: 1px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 10px;

  height: 100%;
  border-radius: 5px;
  background-color: #faeac0;
}


.navbar .title{
  font-size: 16px;
  font-weight: bold;
}

.navbar ul{
  display: flex;
  list-style: none;
  font-size: 14px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar ul li:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background-color: #B4B4B4;
  margin: 0 8px;
}

.nav-link{
  color: #0066FF;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}



